{block content}
    {if $requestConfiguration->isPageable($presenter->action)}
        {control visualPaginator}
    {/if}
    {control indexGrid $resources}
    {if $requestConfiguration->isPageable($presenter->action)}
        {control visualPaginator}
    {/if}
{/block}
