<table>
    {foreach $resources as $resource}
    {var $id = $resource->getPrimary()}
    {if $iterator->first}
    <thead>
    <tr>
        {foreach $resource as $column => $value}
            <th>{$column|humanize}</th>
        {/foreach}
    </tr>
    </thead>
    <tbody>
    {/if}
    <tr>
        {foreach $resource as $column => $value}
            <td>
                {if $control->isFK($column)}
                    <a href="{plink $control->getPresenterForProperty($column) . ':show', $id}">
                        {$control->getValue($resource, $column)|truncate:100}
                    </a>
                {else}
                    {$control->getValue($resource, $column)|truncate:100}
                {/if}
            </td>
        {/foreach}
        <td><a href="{plink show $id}">{_}Show{/_}</a></td>
        <td><a href="{plink update $id}">{_}Update{/_}</a></td>
        <td><a href="{plink delete $id}">{_}Delete{/_}</a></td>
    </tr>
    {/foreach}
    </tbody>
</table>
